<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="English Permier League">
  <title>{{ site_title }}</title>
</head>

<style type="text/css">
	body {
	  font-size: 16pt;
	  width: 40em;
	  line-spacing: 1.3em;
	  margin: auto;
	  padding: 2em 3em;
	}
	#content {
		padding-left: 2em;
		border-left: 2px solid black;
	}
</style>

<body>
  <h1>English Premier League</h1>

  <div id="content">
	  <p>Manchester United</p>
      <p>Arsenal</p>
	  <p>Chelsea</p>
      <p>Manchester City</p>
	  <p>Liverpool</p>
      <p>Lecister City</p>
	  <p>Aston Villa</p>
      <p>West Ham</p>
  </div>
	
</body>
</html>
